* {
  color: $darkGray;
  &::-webkit-scrollbar-track {
    background-color: white;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $darkGray;
  }
}
main {
  background-color: #f1f1f1;
  height: 200vh;
  .grid-holder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    @media (max-width: 768px) {
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    }
    .col {
      border-left: 1px solid #dbdbdb;
    }
  }
}
.main-layout {
  transition: transform 0.2s ease, opacity 0.5s ease;
  &.menu-open {
    transition: transform 0.5s ease, opacity 0.2s ease;
    opacity: 0;
    transform: translateX(-100vw);
  }
}
@keyframes firstword {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120px);
  }
}
@keyframes wordin {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120px);
  }
}
@keyframes wordout {
  from {
    transform: translateY(120px);
  }
  to {
    transform: translateY(240px);
  }
}

.hero-block {
  height: 100vh;
  .hero-content {
    position: absolute;
    inset: 0;
    width: 200vw;
    display: flex;
    @media (min-width: 768px) {
      display: block;
      width: 100vw;
    }
    &.menu-open {
      .hero-text {
        transition: transform 0.5s ease, opacity 0.2s ease;
        opacity: 0;
        transform: translateX(-100vw);
      }
    }
    .hero-text {
      .top-titles-container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
      }
      .bottom-titles-container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
      }
      .default-view,
      .default-view-b {
        display: none;
      }
      .turning-title {
        display: block;
        position: absolute;
        text-align: center;
        font-size: 96px;
        height: 120px;
        line-height: 90px;
        &.f1 {
          top: 0;
          animation: firstword 0.8s 3s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.f2 {
          animation: wordin 0.8s 3.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 6s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.f3 {
          top: -120px;
          animation: wordin 0.8s 6.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 9.6s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.f4 {
          top: -120px;
          animation: wordin 0.8s 10.2s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 13.2s cubic-bezier(1, 0, 1, 0.7) forwards;
        }

        &.s1 {
          animation: wordin 0.8s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 3.6s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.s2 {
          animation: wordin 0.8s 4.2s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 7.4s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.s3 {
          top: -120px;
          animation: wordin 0.8s 8s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 11s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.s4 {
          top: -120px;
          animation: wordin 0.8s 11.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 13.6s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.b-f1 {
          top: 0;
          animation: firstword 0.8s 3s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.b-f2 {
          animation: wordin 0.8s 3.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 6s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.b-f3 {
          top: -120px;
          animation: wordin 0.8s 6.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 9.6s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.b-f4 {
          top: -120px;
          animation: wordin 0.8s 10.2s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 13.2s cubic-bezier(1, 0, 1, 0.7) forwards;
        }

        &.b-s1 {
          animation: wordin 0.8s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 3.6s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.b-s2 {
          animation: wordin 0.8s 4.2s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 7.4s cubic-bezier(1, 0, 1, 0.7) forwards;
          top: -120px;
        }
        &.b-s3 {
          top: -120px;
          animation: wordin 0.8s 8s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 11s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
        &.b-s4 {
          top: -120px;
          animation: wordin 0.8s 11.6s cubic-bezier(0, 0, 0.3, 1) forwards,
            wordout 0.8s 13.6s cubic-bezier(1, 0, 1, 0.7) forwards;
        }
      }
      .bottom-titles-container {
        width: 100%;
        height: 120px;
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
      }
      transition: transform 0.2s ease, opacity 0.5s ease;
      display: flex;
      opacity: 1;
      flex-direction: column;
      justify-content: center;
      padding: 16px;
      height: 100%;
      width: 100vw;
      font-family: "HalantMedium";
      @media (min-width: 768px) {
        width: unset;
        justify-content: center;
        align-items: center;
        padding: 5rem;
      }
      h1 {
        margin: 0;
        font-size: 50px;
        @media (min-width: 768px) {
          font-size: 100px;
        }
      }
      h2 {
        font-size: 24px;
        @media (min-width: 768px) {
          font-size: 32px;
        }
      }
    }
  }
}
.dev-section {
  height: 1000px;
  background-color: #24283b;
  .dev-section-content {
    background-color: rgba(49, 55, 82, 0.5);
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    @media (min-width: 768px) {
      width: 50vw;
    }
    &:hover {
      background-color: rgba(49, 55, 82, 0.8);
    }
  }
}
.ux-section {
  height: 1000px;
  background-color: white;
  img {
    transform: scale(2);
    @media (min-width: 768px) {
      transform: scale(1.3) translateX(-200px);
    }
  }
  .ux-section-content {
    background-color: rgba(139, 72, 71, 0.5);
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    @media (min-width: 768px) {
      width: 50vw;
    }
    &:hover {
      background-color: rgba(139, 72, 71, 0.8);
    }
  }
}
.product-section {
  background-color: rgb(223, 146, 44);
  height: 1000px;

  .product-section-content {
    background-color: rgba(192, 128, 44, 0.5);
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    @media (min-width: 768px) {
      width: 50vw;
    }
    &:hover {
      background-color: rgba(192, 128, 44, 0.8);
    }
  }
}

.render-section {
  background-color: #1c2c2b;
  height: 1000px;
  .render-section-content {
    background-color: rgba(29, 63, 59, 0.5);
    width: 100vw;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.7s ease;
    @media (min-width: 768px) {
      width: 50vw;
    }
    &:hover {
      background-color: rgba(29, 63, 59, 0.8);
    }
  }
}

footer {
  padding: 2rem;
  .contact-block {
    display: block;
    text-align: center;
  }
  .language-block {
    margin-top: 1rem;
    display: none;
    align-items: center;
    justify-content: center;
    @media (min-width: 768px) {
      display: flex;
    }
    .language-selector {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      transition: transform 0.25s ease;
      font-size: 16px;
      .language-link {
        transition: opacity 0.3s ease;
      }
      .es-link {
        opacity: 0;
      }
    }
    &.es-ES {
      .language-selector {
        transform: translateY(12px);
        .es-link {
          opacity: 1;
        }
        .us-link {
          opacity: 0;
        }
      }
      &:hover {
        .us-link {
          opacity: 0.4;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    &.en-US {
      .language-selector {
        transform: translateY(-12px);
        .es-link {
          opacity: 0;
        }
        .us-link {
          opacity: 1;
        }
      }
      &:hover {
        .es-link {
          opacity: 0.4;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
  .social-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
    i {
      cursor: pointer;
      margin: 0 10px;
      font-size: 24px;
    }
  }
  span {
    display: block;
    font-size: 1rem;
    color: $darkGray;
  }
  div {
    display: flex;
  }
}
.custom-link {
  font-size: 1.25rem;
  position: relative;

  .underlineLink {
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 1px;
      bottom: 0;
      left: 0;
      background-color: black;
      transform-origin: bottom left;
      transition: transform 0.35s ease;
    }
  }
  &:hover {
    .underlineLink {
      &:before {
        transform: scaleX(1);
      }
    }
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1200px !important;
  }
}

.ux-bg-parallax {
  text-align: right;
  & > span {
    overflow: unset !important;
  }
}

.code-animation-container {
  width: 90%;
  float: right;
  max-height: 1000px;
  @media (min-width: 768px) {
    width: 48%;
  }
  span,
  em,
  p {
    font-size: 20px;
    color: white;
    @media (min-width: 768px) {
      font-size: 28px;
    }
  }
}
.parallax-wrapper {
  h2 {
    font-size: 70px;
    font-family: $josefineLight;
    font-weight: normal;
    letter-spacing: -6px;
    text-align: center;
    line-height: 170px;
    @media (min-width: 768px) {
      font-size: 90px;
    }
    @media (min-width: 1536px) {
      font-size: 120px;
    }
  }
  h3 {
    font-style: italic;
    font-size: 24px;
    text-align: center;
    color: white;
  }
}

h2 {
  color: white;
  font-size: 32px;
}

[data-rmiz-wrap="hidden"] {
  visibility: hidden;
}
[data-rmiz-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition-property: background-color;
}
[data-rmiz-btn-open],
[data-rmiz-btn-close] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* reset styles */
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  font: inherit;
  color: inherit;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
[data-rmiz-btn-open] {
  cursor: zoom-in;
}
[data-rmiz-btn-close] {
  cursor: zoom-out;
}
[data-rmiz-modal-content] {
  position: absolute;
  transition-property: transform;
  transform-origin: center center;
}
