$josefineSemiBold: "JosefinSansSemiBold";
$josefineMedium: "JosefinSansMedium";
$josefineReg: "JosefinSansRegular";
$josefineLigth: "JosefinSansLight";
$halantReg: "HalantRegular";
$halantBold: "HalantBold";
$halantMed: "HalantMedium";

$darkGray: #212427;
$screechingWhite: #eeeeee;
$yelpyRed: #d32323;
