.about-view {
  overflow: hidden;
  transition: transform 0.2s ease, opacity 0.5s ease;
  .mobile-menu {
    height: 100vh;
  }
  .content-wrapper {
    &.menu-open {
      transition: transform 0.5s ease, opacity 0.2s ease;
      opacity: 0;
      transform: translateX(-100vw);
    }
  }
  .about-section {
    margin: auto;
    margin-top: 40px;
    color: $darkGray;
    p {
      font-family: $halantReg;
      font-size: 18px;
    }
    h3 {
      font-family: $halantBold;
      color: $boxifyyellow;
      font-size: 32px;
      margin-bottom: 20px;
    }
    &.profile {
      width: 100%;
      background-color: $boxifyyellow;
      padding-top: 40px;
      @media (min-width: 768px) {
        margin-top: 110px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;
        padding-top: 75px;
        padding-bottom: 75px;
      }
      h3 {
        color: white;
        margin: auto;
        margin-bottom: 40px;
        @media (min-width: 768px) {
          margin-top: -50px;
        }
      }
      .wrapper {
        width: 80%;
        margin: auto;
        background-color: $boxifyyellow;
        @media (min-width: 768px) {
          margin-top: -150px;
          padding: 75px;
          padding-bottom: 0;
          border-radius: 20px;
          width: 1150px;
        }
      }
      .content {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          flex-direction: row;
        }
        &.container {
          width: 100% !important;
        }
        & > div {
          width: 100%;
          @media (min-width: 768px) {
            padding: 0 20px;
          }
          &:not(:last-of-type) {
            @media (min-width: 768px) {
              border-right: 1px solid white;
            }
          }
          .image-wrapper {
            width: 50%;
            margin: auto;
            margin-bottom: 20px;
            min-height: 150px;
          }
          h4 {
            color: white;
            font-size: 24px;
          }
          span {
            color: white;
            font-size: 20px;
            display: block;
          }
          p {
            margin-bottom: 10px;
            min-height: 110px;
          }
          ul {
            font-family: $halantReg;
            font-size: 18px;
            list-style: disc;
            padding-left: 20px;
            li {
              &::marker {
                color: white;
                font-size: 12px;
                display: flex;
                align-items: flex-start;
              }
            }
          }
        }
      }
    }
    &.resume {
      width: 100%;
      background-color: $boxifyyellow;
      h3 {
        color: white;
      }
      .container {
        padding: 20px 0;
        margin: auto;
      }
      .linkBox {
        margin: 0;
        .linkText {
          color: white;
        }
        i {
          color: white;
        }
        .linkArrowL i {
          color: $boxifyyellow;
        }
      }
    }
    &.studies {
      .study-block {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;

        i {
          font-size: 32px;
          cursor: pointer;
        }
        .study-year {
          span {
            color: $boxifyyellow;
            font-size: 20px;
          }
        }
      }
      h4 {
        font-family: $halantBold;
        font-size: 24px;
        span {
          margin-left: 10px;
        }
      }
      span {
        font-family: $halantReg;
        font-size: 18px;
      }
    }
    &.skills {
      ul {
        font-family: $halantReg;
        font-size: 18px;
        list-style: disc;
        padding-left: 20px;
        li {
          &::marker {
            color: $boxifyyellow;
            font-size: 12px;
            display: flex;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .about-banner {
    height: calc(100vh - 238px);
    overflow-y: hidden;
    position: relative;
    h1 {
      color: black;
      font-size: 120px;
      width: 25%;
      font-family: $josefineSemiBold;
      text-transform: uppercase;
      position: absolute;
      z-index: 1;
      top: 30%;
      left: 10%;
    }
  }
}

.container {
  width: 80% !important;
  @media (min-width: 1024px) {
    max-width: 1000px !important;
  }
}
