.cls-1,
.cls-19 {
  fill: none;
  stroke-miterlimit: 10;
}
.cls-1 {
  stroke: $darkGray;
  stroke-width: 3px;
}
.cls-2 {
  fill: $screechingWhite;
}
.cls-3 {
  fill: $boxifyyellow;
}
.cls-12,
.cls-4 {
  font-size: 12px;
}
.cls-12,
.cls-16,
.cls-4 {
  font-family: $josefineReg;
}
.cls-12 {
  fill: #777;
}
.cls-16 {
  font-size: 18px;
}
.cls-19 {
  stroke: #777;
  stroke-width: 2px;
  stroke-dasharray: 11.95 11.95;
}
