/* ////////////////////////// JOSEFIN SANS FONT ////////////////////////////// */

@font-face {
  font-family: "JosefinSansSemiBold";
  src: url('/fonts/woff2/josefin-sans/JosefinSans-SemiBold.woff2') format('woff2'),
       url('/fonts/josefin-sans/JosefinSans-SemiBold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSansMedium";
  src: url('/fonts/woff2/josefin-sans/JosefinSans-Medium.woff2') format('woff2'),
       url('/fonts/josefin-sans/JosefinSans-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "JosefinSansRegular";
  src: url('/fonts/woff2/josefin-sans/JosefinSans-Regular.woff2') format('woff2'),
       url('/fonts/josefin-sans/JosefinSans-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "JosefinSansLight";
  src: url('/fonts/woff2/josefin-sans/JosefinSans-Light.woff2') format('woff2'),
      url('/fonts/josefin-sans/JosefinSans-Light.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

/* ////////////////////////// HALANT FONT ////////////////////////////// */

@font-face {
  font-family: "HalantRegular";
  src: url('/fonts/woff2/halant/Halant-Regular.woff2') format('woff2'),
      url('/fonts/halant/Halant-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HalantMedium";
  src: url('/fonts/woff2/halant/Halant-Medium.woff2') format('woff2'),
      url('/fonts/halant/Halant-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "HalantBold";
  src: url('../public/fonts/woff2/halant/Halant-Bold.woff2') format('woff2'),
       url('/fonts/woff2/halant/Halant-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 900;
  font-style: bolder;
}

/* ////////////////////////// ICONS ////////////////////////////// */
@font-face {
  font-family: 'icomoon';
  src:  url('../public/icons/fonts/icomoon.eot?v8jy0m');
  src:  url('../public/icons/fonts/icomoon.eot?v8jy0m#iefix') format('embedded-opentype'),
    url('../public/icons/fonts/icomoon.ttf?v8jy0m') format('truetype'),
    url('../public/icons/fonts/icomoon.woff?v8jy0m') format('woff'),
    url('../public/icons/fonts/icomoon.svg?v8jy0m#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-long-arrow-right:before {
  content: "\f178";
}