.ux-view {
  overflow: hidden;
  h1 {
    margin-bottom: 20px;
    font-size: 40px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  .mobile-menu {
    height: 100vh;
  }
  .container {
    padding: 0 10px;
    transition: transform 0.2s ease, opacity 0.5s ease;
    &.menu-open {
      transition: transform 0.5s ease, opacity 0.2s ease;
      opacity: 0;
      transform: translateX(-100vw);
    }
  }
  .project-card {
    cursor: pointer;
    position: relative;
    img {
      border-radius: 12px;
    }
    @media (hover: hover) {
      &:hover {
        .overlayScreen {
          h3,
          span {
            transition: all 0.4s 0.15s ease;
            opacity: 1;
            transform: translateY(0px);
          }
          span {
            opacity: 0.3;
          }
          &::after {
            opacity: 1;
          }
        }
      }
    }

    .overlayScreen {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      h3 {
        position: relative;
        z-index: 10;
        color: $darkGray;
        font-size: 40px;
        transition: all 0.15s ease;
        opacity: 1;
        @media (min-width: 768px) {
          transform: translateY(50px);
          opacity: 0;
        }
      }
      span {
        position: relative;
        z-index: 10;
        color: $darkGray;
        font-size: 20px;
        transition: all 0.15s ease;
        opacity: 1;
        font-family: $josefineLight;
        @media (min-width: 768px) {
          transform: translateY(50px);
          opacity: 0;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        opacity: 0.8;
        transition: opacity 0.4s ease;
        @media (min-width: 768px) {
          opacity: 0;
        }
      }
    }
  }
  h2 {
    color: $darkGray;
    font-size: 32px;
  }
}

.content-table {
  width: 80%;
  margin: auto;
  @media (min-width: 768px) {
    width: 60%;
  }
  div {
    width: 100%;
    margin: 0;
    font-size: 16px;
    margin-bottom: 20px;
    border-left-color: $screechingWhite;
    border-left-width: 3px;
    padding-left: 5px;

    @media (min-width: 768px) {
      min-height: 100px;
      align-items: center;
      justify-content: center;
      margin-bottom: 0;
      text-align: center;
      font-size: 22px;
      border-left: none;
      display: flex;
      flex-direction: column;
      &:not(:last-of-type) {
        border-right-color: $screechingWhite;
        border-right-width: 2px;
      }
    }
    span {
      font-family: $josefineReg;
      font-weight: 500;
    }
    p {
      font-family: $josefineLight;
    }
    td,
    th {
      padding: 5px 20px;
      @media (min-width: 768px) {
        padding: 10px 40px;
      }
      &:not(:last-of-type) {
        border-right-color: $screechingWhite;
        border-right-width: 2px;
      }
    }
  }
}
.content-block {
  width: 80%;
  max-width: 1000px;
  margin: 40px auto;
  @media (min-width: 768px) {
    width: 60%;
    margin: 80px auto;
  }

  &.expanded {
    width: 100%;
    max-width: unset;
    & > div:not(.swiper) {
      @media (min-width: 768px) {
        width: 75%;
        display: flex;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 20px;
      }
      @media (min-width: 1536px) {
        width: 65%;
      }
      .imageContainer {
        position: relative;
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: center;
        &::before {
          content: "";
          border-bottom-width: 5px;
          position: absolute;
          width: 100%;
          top: -15px;
        }
      }
      span {
        font-size: 18px;
      }
    }
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      right: 0;
      height: 300px;
      z-index: -1;
      bottom: -40%;
      @media (min-width: 768px) {
        bottom: -60%;
      }
      @media (min-width: 1080px) {
        bottom: -50%;
      }
      @media (min-width: 1366px) {
        bottom: -40%;
      }
      @media (min-width: 1700px) {
        bottom: -30%;
      }
    }
  }
  &.grid {
    gap: 10px;
    @media (min-width: 768px) {
      gap: 40px;
    }
  }
  .ideation-img {
    width: 100%;
    margin-top: 40px;
  }

  &.highlighted {
    padding: 40px 0;
    width: unset;
    max-width: unset;
    background-color: $screechingWhite;
    @media (min-width: 768px) {
      padding: 80px 0;
    }
    & > * {
      width: 80%;
      max-width: 1000px;
      margin: auto;
      @media (min-width: 768px) {
        width: 60%;
      }
    }
    h5 {
      margin-bottom: 10px;
    }
  }
  p {
    font-family: $halantReg;
    font-size: 16px;
    @media (min-width: 768px) {
      font-size: 20px;
    }
  }

  h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
    @media (min-width: 768px) {
      font-size: 32px;
      margin-bottom: 80px;
    }
  }
  h4 {
    color: $yelpyRed;
    font-family: $halantBold;
    font-size: 28px;
    @media (min-width: 768px) {
      font-size: 48px;
    }
  }
  h5 {
    color: $yelpyRed;
    font-family: $halantBold;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
    font-weight: 700;
    @media (min-width: 768px) {
      font-size: 22px;
    }
  }
  span {
    font-weight: 700;
    margin-bottom: 20px;
    display: block;
  }
  & > div {
    margin: 0 auto;
    @media (min-width: 768px) {
      margin: 40px auto;
    }
  }
}
.wireframeImg {
  box-shadow: 0 2px 21px rgb(0 0 0 / 10%);
}
.bannerSection {
  height: calc(100vh - 238px);
  overflow-y: hidden;
  position: relative;
  &.foot {
    height: unset;
    max-height: 1000px;
  }
}

.content-nav {
  position: fixed;
  right: 4%;
  bottom: 50%;
  z-index: 1;
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
  @media (min-width: 1536px) {
    right: 8%;
  }
  a {
    margin: 8px 0;
    display: block;
    opacity: 0.2;
    transition: opacity 0.25s ease;
    &.isCurrent {
      opacity: 1;
    }
    &:hover {
      opacity: 1;
    }
  }
}

@media (min-width: 1536px) {
  .content-block {
    .ideation-img {
      width: 100%;
    }
  }
}

.boxify {
  .to-top-btn {
    @media (max-width: 768px) {
      background-color: $boxifyblue;
    }
  }
  .content-wrapper {
    &.menu-open {
      transition: transform 0.5s ease, opacity 0.2s ease;
      opacity: 0;
      transform: translateX(-100vw);
    }
    transition: transform 0.2s ease, opacity 0.5s ease;
  }
  .content-block {
    h4,
    h5 {
      color: $boxifyyellow;
    }
    &.expanded {
      &:after {
        background-color: $boxifyyellow;
      }
      .imageContainer {
        &::before {
          border-bottom-color: $boxifyyellow;
        }
      }
    }
  }
}
.vetfriends {
  .to-top-btn {
    @media (max-width: 768px) {
      background-color: $vetblue;
    }
  }
  .content-wrapper {
    &.menu-open {
      transition: transform 0.5s ease, opacity 0.2s ease;
      opacity: 0;
      transform: translateX(-100vw);
    }
    transition: transform 0.2s ease, opacity 0.5s ease;
  }
  .content-block {
    h4,
    h5 {
      color: $vetpurple;
    }
    &.expanded {
      &:after {
        background-color: $vetpurple;
        bottom: -85%;
        @media (min-width: 1024px) {
          bottom: -80%;
        }
        @media (min-width: 1200px) {
          bottom: -80%;
        }
        @media (min-width: 1700px) {
          bottom: -30%;
        }
        @media (min-width: 1536px) {
          bottom: -50%;
        }
      }
      .imageContainer {
        &::before {
          border-bottom-color: $vetpurple;
        }
      }
    }
  }
}
.jobxheroes {
  .to-top-btn {
    @media (max-width: 768px) {
      background-color: $warHeroRed;
    }
  }
  .content-wrapper {
    &.menu-open {
      transition: transform 0.5s ease, opacity 0.2s ease;
      opacity: 0;
      transform: translateX(-100vw);
    }
    transition: transform 0.2s ease, opacity 0.5s ease;
  }
  .content-block {
    h4,
    h5 {
      color: $warHeroDarkBlue;
    }
    &.expanded {
      &:after {
        background-color: $warHeroDarkBlue;
        bottom: -60%;
        height: 360px;
        @media (min-width: 768px) {
          bottom: -40%;
        }
        @media (min-width: 1024px) {
          bottom: -60%;
        }
        @media (min-width: 1200px) {
          bottom: -40%;
        }
        @media (min-width: 1700px) {
          bottom: -30%;
        }
      }
      .imageContainer {
        &::before {
          border-bottom-color: $warHeroDarkBlue;
        }
      }
    }
  }
}
.swiper-slide > div:first-child {
  width: 90%;
  margin: auto;
}
.swiper {
  .imageContainer {
    position: relative;
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    &::before {
      content: "";
      border-bottom-width: 5px;
      position: absolute;
      width: 100%;
      top: -15px;
    }
  }
  overflow: unset;
  @media (min-width: 768px) {
    display: none;
  }
  button {
    position: absolute;
    z-index: 10;
    bottom: -30px;
    right: 20px;
    font-size: 12px;
  }
}
